footer
    ul.githublinks
      li: a(href='https://github.com/Amlovern' target='_blank') <i class="fab fa-github"></i> Anthony Lovern
      li: a(href='https://github.com/ellen20' target='_blank') <i class="fab fa-github"></i> Jingling Jin
      li: a(href='https://github.com/yuefang323' target='_blank') <i class="fab fa-github"></i> Fang Yue
      li: a(href='https://github.com/Kxvin1' target='_blank') <i class="fab fa-github"></i> Kevin Bartolome
