extends layout.pug

block content
    if errors 
        div
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error
    h2 Login
    form(action="/user/login" method='post')
        input(type='hidden' name='_csrf' value=csrfToken)

        label(for="email") Email
        input(type="email" name='email' required)

        label(for='password') Password
        input(type='password' name='password' required)

        button(type='submit' name='submit') Login 
