extends layout.pug

block content
    h1.movies-header Movie Database
    div.movie-row
        each movie in movieDatabase
            div.movie-block
                a(href=`/movies/${movie.id}`)
                    img(class="movie-poster" src=movie.image)
    link(rel='stylesheet' href='/stylesheets/movies.css')
