extends layout.pug
block content
    if errors
        div
            p The following error(s) occurred:
            ul
                each error in errors
                    li= error
    h2 Register
    form(action="/user/register" method='post')
        input(type='hidden' name='_csrf' value=csrfToken)

        label(for="username") Username
        input(type="text" name='username' required placeholder='username')

        label(for="email") Email
        input(type="email" name='email' required placeholder='user@user.com')

        label(for='password') Password
        input(type='password' name='password' required placeholder='password')

        label(for='confirmPassword') Confirm Password
        input(type='password' name='confirmPassword' required placeholder='confirm password')

        button(type='submit' name='submit') Register
    a(href='/user/login') Already have an account? Log in here.
    include footer.pug
