extends layout.pug

block content
    div
        h2 Leave Your Review 
        form(action=`/movies/${reviewText.movieId}/reviews`, method="post")
            //- input(type="hidden", name=“movieId”, value=movie.id)
            label(for="review")
            input(type="text" name="review" placeholder="enter your review...")
            button(type="submit" id="reviewSubBtn") Submit review
    div 
        h2 Reviews 
        ul 
            //- script(src="/javascripts/reviews.js")
            if reviews
                for review in reviews
                    li=review.review 