extends layout.pug

block content
    div
        h2 Leave Your Review 
        form(action=`/movies/${movieId}/reviews`, method="post")
            label(for="review")
            input(type="text" name="review" placeholder="enter your review...")
            button(type="submit" id="reviewSubBtn") Submit review
    div 
        h2 Reviews 
        ul 
            script(src="/javascripts/reviews.js")
            