.container {
  display: flex;
  flex-direction: column;
}

.homepage-movie-row {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.homepage-block {
  height: 25rem;
  width: 15rem;
  margin-right: 5em;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.homepage-block:active {
  transform: translateX(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.IMDb-rating {
  text-align: center;
}

.title-header {
  font-size: 30px;
  font-weight: bold;
}

.homepage-block:hover {
  transform: scale(1.1);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(31, 27, 27, 0.843);
  border-radius: 2rem;
  display: block;
}

.homepage-img {
  border-radius: 2rem;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.picks {
  font-size: 35px;
  font-family: Garamond, Franklin, Cambria, serif;
  background-color: #2e51a2;
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 2.5rem;
}

footer {
  padding: 20px;
  width: 100%;
  background-color: #2e51a2;
  color: white;
  margin-top: 3em;
  position: relative;
  bottom: 0;
}

.githublinks {
  list-style: none;
  display: flex;
  justify-content: center;
}

.githublinks a {
  padding: 0 1em;
}

footer a {
  text-decoration: none;
}

h1 {
  display: inline-flex;
  justify-content: center;
}
