.movies-header {
  background-color: #2e51a2;
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-row {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.movie-block {
  height: 32rem;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.movie-block:hover {
  transform: scale(1.1);
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(31, 27, 27, 0.843);
  border-radius: 2rem;
}

.movie-block:active {
  transform: translateX(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.movie-poster {
  border-radius: 2rem;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
