body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.hidden {
  display: none;
}

.displayed{
  display: table-cell;
}

.planToWatchColor{
  background-color: red;
  width: 8px;
}

.watchingColor{
  background-color: blue;
  width: 8px;
}

.haveWatchedColor{
  background-color: green;
  width: 8px;
}

.watchlist-header {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-headers {
  font-family: Garamond, Franklin, Cambria, serif;
  font-size: 18px;
}

tbody tr:nth-child(odd) {
  background-color: rgb(22, 206, 206);
}

tbody tr:nth-child(even) {
  background-color: rgb(248, 191, 86);
}

tr td{
  text-align: center;
}

.movie {
  border: 2.5px solid black;
}
