body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.hidden {
  display: none;
}

.displayed {
  display: table-cell;
}

.title {
  width: 150px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

nav a {
  font-size: 30px;
}

nav button {
  font-size: 30px;
}

.home-movie a {
  margin: 10px;
  padding: 10px;
}
.login-register a {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.login-register {
  display: inline-flex;
}
a.my-watchlist {
  margin-top: 0;
  padding-top: 0;
}
