.watchlist-header {
    background-color: #2e51a2;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.planToWatchColor{
    background-color: #A12F31;
    width: 8px;
  }

.watchingColor{
    background-color: #26448F;
    width: 8px;
}

.haveWatchedColor{
    background-color: #2DB039;
    width: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table-headers {
    font-family: Garamond, Franklin, Cambria, serif;
    font-size: 20px;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: whitesmoke;
}

tr td{
    text-align: center;
}

.movie {
    border: 0.1px solid rgba(0, 0, 0, 0.199);
    text-align: center;
    margin: auto;
}

.movie-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
}

.movie-buttons * {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.movie * {
    height: max-content;
}

.movie-block {
    height: 30vh;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border-radius: 2rem;
    margin-bottom: 2rem;
    object-fit: contain;
}

.movie-block:active {
    transform: translateX(-1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.movie-poster {
    border-radius: 2rem;
    height: 100%;
    width: 50%;
    text-align: center;
}
